
@import 'mixin';
a{
   color: black;
}
.album-body{
background: linear-gradient(0deg,rgba(0, 0, 0, 0.863)60%,rgba(253,187,45,1) 100%);
color: white;
.play i{
    padding: 0.5em;
    background-color: var(--color-green-dark);
    border-radius: 50%;
}
}
.albumFooter{
   
    position: sticky;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    .playBar{
        background-color: rgba(128, 128, 128, 0.185);
    }
    div i+p{
        font-size: 0.7em;
    }
}

