
@import 'mixin';

@keyframes cyclic-scroll {
    0% {
        transform: translateyx(100%);
    }

    100% {
        transform: translateX(1000%);
    }
}

/* Apply the animation to an HTML element */
.cyclic-text {
    animation: 1s linear infinite;
    white-space: pre-wrap;
    /* Prevent text from wrapping */
}
a{
   color: black;
}
.album-body{
background: linear-gradient(0deg,rgba(0, 0, 0, 0.863)60%,rgba(253,187,45,1) 100%);
color: white;
#albumImg img{
    -webkit-box-shadow: 0px 0px 20px 0px #000000; 
box-shadow: 0px 0px 20px 0px #000000;
}
.play i{
    padding: 0.5em;
    background-color: var(--color-green-dark);
    border-radius: 50%;
}
}
.albumFooter{
    position: sticky;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.200);
    .playBar{
        background-color: rgba(75, 75, 75, 0.8);
    }
    div i+p{
        font-size: 0.7em;
    }

}

i:hover{
    cursor: pointer;
}