@import 'colors';

.artist-body {
    background-color: var(--color-black);
    color: var(--color-white);
    margin: 10px;

    #coverImg {
        height: 20em;
    }

    #followers {
        margin-top: 20px;
        font-size: 0.8em;
    }

    .row {
        display: flex;
        align-items: center;
      }
      
      .img-song {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
      }
      
      .row p {
        margin: 0;
        line-height: 1;
      }
      
      #albumTitle {
        font-weight: bold;
        margin-bottom: 5px;
      }
      
      #listeners {
        color: var(--color-grey-light);
      }


      
      
      

    .info, h4, p {
        white-space: nowrap;
        font-size: 1rem;
    }

    .info, h4 {
        font-size: 1.1em;
    }

    .info p {
        color: var(--color-grey-light);
    }

    .play {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      
    #tracklist i.bi.bi-three-dots-vertical {   
    width: 24px;
    height: 0px;
    margin-left: 130px;
    
    }

    .row i {
        display: flex;
        align-items: center;
      }

    #albumTitle {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      

      .artist-likes {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
      }

      .artist-likes h4, 
      .artist-likes p {
         margin: 0;
         margin-left: -15px;
      }

      
    .card{
        background-color: black;
    }
.follow.btn {
    background-color: var(--color-grey-dark);
    color: white;
}

.img-song {
    width: 70px;
    height: 50px;
}

.like {
    border-radius: 50%;
    width: 85px;
    height: 65px;
    margin: 10px;
}
.play {
    color: var(--color-grey-light);
    font-size: 1.2em;
    .bi.bi-play-circle-fill {
        color: var(--color-green-dark);
        font-size: 1.6em;
        margin-right: 5px;
    }
}
    .albumFooter{
        position: sticky;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.951);
        .playBar{
            background-color: rgba(49, 49, 49, 0.896);
        }
    }
}

/*MEDIAQ*/

@media screen and (max-width:768px) {
    .sidebar_left{
        display: none;
    }
    
}
    @media screen and (max-width:992px) {
        .sidebar_right{
            display: none;
        }
}
@media screen and (min-width:768px) {
    .mobile{
        display: none;
    }

    .albumFooter {
        position: fixed;
        display: none;
    }
}