@import 'colors';

.artist-body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.700)50%, rgba(255, 255, 255, 0.466) 100%);
    margin: 0;
    padding: 0;
    h1{
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.100);
    }
    background-color: var(--color-black);
    color: var(--color-white);
.artistCol{
    padding: 0;
}
.bodyContain{
    padding: 0 1em;
}
#coverImg {
    height: 300px;
    margin-top: -10px;
    margin-left: -22px;
    margin-right: -23px;    
}
      
    #followers {
        margin-top: 20px;
        font-size: 0.8em;
    }
    .tracklist{
        img{
            width: 75px;
        }
    }


    #albumTitle {
        font-weight: bold;
        margin-bottom: 5px;
    }

    #listeners {
        color: var(--color-grey-light);
    }

    .info,
    h4,
    p {
        white-space: nowrap;
        font-size: 1rem;
    }

    .info,
    h4 {
        font-size: 1.1em;
    }

    .info p {
        color: var(--color-grey-light);
    }

    .play {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    #tracklist i.bi.bi-three-dots-vertical {
        width: 24px;
        height: 0px;
        margin-left: 130px;

    }

    #albumTitle {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .artist-likes {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    .artist-likes h4,
    .artist-likes p {
        margin: 0;
        margin-left: -15px;
    }


    .card {
        background-color: black;
    }

    .follow.btn {
        background-color: var(--color-grey-dark);
        color: white;
    }

    .img-song {
        width: 70px;
        height: 50px;
    }

    .like {
        border-radius: 50%;
        width: 85px;
        height: 65px;
        margin: 10px;
    }

    .play {
        color: var(--color-grey-light);
        font-size: 1.2em;

        .bi.bi-play-circle-fill {
            color: var(--color-green-dark);
            font-size: 1.6em;
            margin-right: 5px;
        }
    }

    .a .playBar {
        background-color: rgba(49, 49, 49, 0.896);
    }
    @media screen and (max-width:768px) {
        .sidebar_left {
            display: none;
        }
        .footerDekstop{
            display: none;
        }

        .col-8 {
            width: 100%;
        }


        
    }
    
    @media screen and (max-width:992px) {
        .sidebar_right {
            display: none;
        }
    }
    
    @media screen and (min-width:767px) {
        .mobile , .albumFooter{
            display: none;
        }

        .footerMobile {
            display: none;
        }

        .follow {
            border-color: white;
        }

        i.bi.bi-shuffle {
            display: none;
        }
        #tracklist i.bi.bi-three-dots-vertical {
            display: none;
        }

        i.bi.bi-three-dots-vertical {
            position: relative;
            bottom: 30px;
            left: 150px;
        }

        .follow {
            position: relative;
            left: 50px;
        }

        .bi-play-circle-fill::before {
            font-size: 1.8em;
        }

        .sidebar_right > div {
            margin: 0.5em;
            width: 110%;
        }

        .number {         
                margin-top: 0;
                position: relative;
                bottom: 60px;
        }

        h1 {
                margin: 0;
                padding: 0;
                position: relative;
                bottom: 50px;
                left: 20px;
                font-weight: bolder;         
        }

        #follower p {
            color: white;
        }
    }
    
    @media screen and (max-width:768px) {
        .dekstop {
            display: none;
        }
}
}

