@mixin color-palette($black-color, $grey-color, $white-color, $green-color) {
    $black: $black-color;
    $grey: $grey-color;
    $white: $white-color;
    $green: $green-color;

    // Lighten and darken variations
    $black-light: lighten($black, 10%);
    $black-dark: darken($black, 10%);
    $grey-light: lighten($grey, 50%);
    $grey-dark: darken($grey, 10%);
    $white-light: lighten($white, 10%);
    $white-dark: darken($white, 10%);
    $green-light: lighten($green, 10%);
    $green-dark: darken($green, 10%);

    // Color palette map
    $colors: ("black": $black,
        "black-light": $black-light,
        "black-dark": $black-dark,
        "grey": $grey,
        "grey-light": $grey-light,
        "grey-dark": $grey-dark,
        "white": $white,
        "white-light": $white-light,
        "white-dark": $white-dark,
        "green": $green,
        "green-light": $green-light,
        "green-dark": $green-dark );

    // Define color variables
    @each $color,
    $value in $colors {
        --color-#{$color}: #{$value};
    }
}

