@import 'colors';

.index-body{
    background-color: rgb(20, 20, 20);
    color: white;
    a{
        color: white;
    }
    #albumsBig{
        .rounded{
            background: rgb(55, 55, 55);;
            background: linear-gradient(-45deg, rgb(55, 55, 55)60%, rgba(255, 0, 0, 0.381) 100%);
            img{
                width: 150px;
            }
            padding: 0.5em;
            margin: 1em;
            background-color: rgb(55, 55, 55);
            color: white;
        }
    }
}

@media screen and (max-width:768px) {
    .sidebar_left {
        display: none;
    }
}

@media screen and (max-width:992px) {
    .sidebar_right {
        display: none;
    }
}

@media screen and (min-width:767px) {
    .mobile {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .dekstop {
        display: none;
    }
}

