@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,100&display=swap');
@import 'partials/album';
@import 'partials/artist';
@import 'partials/colors';
@import 'partials/index';
@import 'partials/search';
@import 'partials/test';



:root {
    @include color-palette(#000000, #121212, #FFFFFF, #1FDF64);
}

body {

    height: 100%;
    font-family: 'Poppins', sans-serif;

}


.cyclic-text {
    animation: cyclic-scroll 5s linear infinite;
    white-space: nowrap;
    /* Prevent text from wrapping */
}

.big-album {
    border-radius: 25px;
}

.big-album:hover {
    cursor: pointer;
}

.artistButton {
    background-color: var(--color-grey);
    border: none;
    color: var(--color-grey-light);
    font-size: 1em;
}

.artistButton:hover {
    text-decoration: underline;
    color: var(--color-black);
    background-color: var(--color-grey-light);
}

@keyframes cyclic-scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-180%);
    }
}

.footerDekstop {
    .imgBar {
        img {
            width: 40px;
        }

        p:last-of-type {
            color: rgb(140, 140, 140);
        }

        i:hover {
            color: var(--color-green-dark);
        }

        p {
            font-size: 0.7em;
            margin-bottom: 0;
        }
    }

    span {
        font-size: 0.7em;
        color: rgb(140, 140, 140);
    }

    .bi-play-fill,
    .bi-pause-fill {
        border-radius: 50%;
        background-color: white;
        padding: 0.2em;
        color: black;
    }

    .bi-shuffle:hover,
    .bi-arrow-return-left:hover {
        color: var(--color-green-dark);
    }

    .progress {
        height: 3px;
        background-color: rgb(70, 70, 70);
        width: 50%;
    }

    padding: 0.5em;
    background-color: rgb(30, 30, 30);
    position: sticky;
    bottom: 0;

    .settingsBar {
        i:hover {
            color: var(--color-green-dark);
        }

        font-size: 0.7em;
        color: rgb(180, 180, 180);

        .bar {
            width: 30%;
        }
    }
}
.bodyContain{
    overflow-y: scroll;
    height: 100vh;
}
.sidebar_left,.sidebar_right{ 
    padding-right: 0;
    background-color: #000000;
}
.sidebar_right span {
    color: white;
    font-weight: bold;
}

.sidebar_right>div {
    margin: 0.5em;
}

::-webkit-scrollbar {
    width: 0.8em;
    height: 0.8em;
    background: rgb(50, 50, 50);
    margin-right: 10px;
}

.casual-music {
    font-size: 0.7em;
    overflow-y: scroll;
    height: 400px;
    background-color: #000000;
    color: rgb(140, 140, 140);
}
.utents{
    font-size: 0.7em;
    overflow-y: scroll;
    height: 100vh;
    background-color: #000000;
}
li:hover{
    cursor: pointer;
}